{% load compress %}
{% load static %}
<script type="text/javascript">
    window.PaystackConfig = {
        postUrl: '{% url 'paystack:submit' %}',
        publishableKey: '{{ client_side_payment_processor.publishable_key }}',
        country: '{{ client_side_payment_processor.country }}',
        paymentRequest: {
            currency: '{{ basket.currency|lower }}',
            label: '{{ platform_name }}',
            // NOTE: Stripe expects the currency sub-unit (e.g. cents instead of dollars).
            // widthratio is used to avoid having to write extra code for multiplication.
            total: {% widthratio order_total.incl_tax 1 36000 %}
        }
    }
</script>
<script src="{% static 'js/views/paystack.js' %}" type="text/javascript"></script>